<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Devour Da Burger</title>
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/javascript/main.js"></script>
</head>

<body>
    
    <div class='burgerimg-wrapper'></div>
    <h2 class="title-h2"> Devour da Burger!</h2>

    <div class="form-wrapper">
        <form class="create-item-form">
            <textarea id="item-input" placeholder="Input your favorite burger."></textarea>
            <button type="submit">Add Da Burger!</button>
        </form>
    </div>
    
    {{{ body }}}

</body>

</html>